{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <link rel="icon" href="../../static/images/icon.png" />
  {% if title %}
  <title>Instagram</title>
  {% else %}
  <link rel="icon" href="../../static/images/icon.png" />
  <title> Instagram</title>
  {% endif %}
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {% endblock %}
</head>
<body>
  {% block content %} {% endblock%}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
  <footer>
    ...
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block javascript %}{% endblock %}


  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.2.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>
</html>
