{%extends "registration/base.html"%}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid" style="background-image:url('https://images.pexels.com/photos/57707/splashing-splash-aqua-water-57707.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');background-repeat:no-repeat; background-size:cover;" >
    <br>
    <br>
    <br>
    <!-- empty div -->
    <div class='row'>
       <div class='col-md-5' style="margin-left: 400px;">
       <div class="panel-body card register-card">
           <div style="color:white;">
           <h2 class='header' style="color: white;font-family: Billabong, cursive;">WATER-APP<h2>
           <h5 style='color:white;text-align:center;font-size:50px;font-family: Billabong, cursive;'><strong>Sign up</strong></h5>
         <form  action="/accounts/register/" method="post">
               {%csrf_token%}
               {% for field in form %}
               <div class='fieldWrapper'>
                   <h5 style='text-align:center;font-family: Billabong, cursive;font-size:27px;'>{{field.label}}</h5>

                   <p style='width:100%;text-align:center;'>{{field}}</p>
                   </div>
                   {% for error in field.errors %}
                 <p style="color: red">{{ error }}</p>
                   {% endfor %}
               {% endfor %}
               
             <input type="submit" class="btn btn-primary btn-sm" value="Sign Up" style='text-align:center;margin-left: 210px;font-size:17px;margin-top:20px;'>
           </form>



        </div>
        <div class='card login-card'>
            <h1 style='text-align:center;font-family:Roboto, sans-serif;font-size:14px; width:100%;margin-top:20px;'>
                If you have an account: </h1>
            <a href='/accounts/login' style='text-align:center;font-family:Roboto, sans-serif;font-size:14px;width:100%;margin-top:20px;'>Sign In</a>
           <input type="hidden" name="next" value="{{next}}">
        </div>
        
        <div class='col-md-2 col-xs-2 col-sm-2'>
        </div>

          
          </div>
   </div>
   </div>

  <!--------------------GOOGLE MAPS API ------------------->
  <style>
    #map{
      height: 400px;
      width: 100%;
    }
  </style>

  <div>
    <h2>MY google map</h2>
  <div id="map"></div>
  <script>
    function initMap(){
      //map options
      var options = {
        zoom:13,
        center:{lat:1.2921, lang:-36.8219}
      }
      //new map
      var map = new google.maps.Map(
      document.getElementById('map'),options);
      
      //listen for click on map
      google.maps.event.addListener(map, 'click',
      function(event){
        addMarker({coords:event.LatLng});
      });
      /*
      // Add marker
      var marker = new google.maps.Marker({position: {lat:1.2921, lang:-36.8219},
       map: map,
       icon:''
      });

      var infoWindow = new google.mops.InfoWindow({
        content:'<h2>Water Chapchap</h2>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });
      */
      
      //Array of markers

      var markers = [
        {
          coords:{lat:1.2921, lang:-36.8219},
          iconImage:'',
          content:'<h1>water chapchap</h1>'
        },
        {
          coords:{lat:1.2921, lang:-36.8219},
          content:'<h1>water chapchap</h1>'
        },
        {
          coords:{lat:1.2984, lang:-36.8132},
          content:'<h1>water chapchap</h1>'
        },
        {
          coords:{lat: -1.3058, lang:-36.7392}
        }
      ];

        //lopp throug markers

      for (var i = 0; i< markers.lenght; i++){
        //add marker
        addMarker(markers[i]);
      }

    
      
      //Add marker function
      function addMarker(coords){
        var marker = new google.maps.Marker({           position:props.coords,
          map: map,
          //icon:props.iconImage
        });

        if(props.iconImage){
          //set icon image
          marker.setIcon(props.iconImage);
        }
        
        // cehck content

        if (props.content){
          var infoWindow = new google.mops.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0xGgnQmijeU46Ec2XxUj6DqtWq4oeaqU&callback=initMap">
  </script>
</div>
</div>
{% endblock %}